<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
<div>
        <br>
        <a href="/sign-up">Sign up</a>
        </br>
        <br>
        <a href="/join">Join the club!</a>
        </br>
        <br>
        <a href="/login">Login</a>
        </br>
    </div>
</body>

</html>