<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Join the club!</title>
</head>

<body>
    <h1>Join the club!</h1>
    <form action="/sign-up" method="POST">
        <label for="join">Passcode</label>
        <input id="join" name="join" placeholder="Passcode" type="text" />
        <button type="submit">Join</button>
    </form>
    <div>
        <br>
        <a href="/">Home</a>
        </br>
    </div>
</body>

</html>