<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <label for="username">Username</label>
        <input id="username" name="username" placeholder="Username" type="text" />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        <button type="submit">Submit</button>
    </form>
    <div>
        <br>
        <a href="/">Home</a>
        </br>
    </div>
</body>

</html>