<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create a message!</title>
</head>

<body>
    <h1>Create a message!</h1>
    <form action="/create" method="POST">
        <label for="title">Title</label>
        <input id="title" name="title" placeholder="Title" type="text" />
        <br/>
        <br/>
        <label for="message">Message</label>
        <br/>
        <textarea id="message" rows="10" name="message" placeholder="Enter your message here..."></textarea><br/><br/>
        <button type="submit">Submit</button>
    </form>
    <div>
        <br>
        <a href="/">Home</a>
        </br>
    </div>
</body>

</html>